input {
    line-height: unset;
    border: unset;
    outline: unset;
    background-color: unset;
}

p {
    display: block;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    unicode-bidi: isolate;
}

a {
    width: fit-content;
    text-decoration: unset;
    color: unset;

    &:hover {
        text-decoration: underline;
    }
}