.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-1 {
    flex-grow: 1;
}

.flex-0 {
    flex-grow: 0;
}

@for $i from 1 through 8 {
    .gap-#{$i} {
        gap: #{$i * 4};
    }
}